.container {
    display: flex;
    align-items: center;
    justify-content: center; /* Wyśrodkowanie całości zgodnie z makietą */
    gap: var(--space-2-5);
    padding: var(--space-4) 0;
    font-family: var(--font-family-mono);
    font-size: var(--font-size-xs); /* W makiecie font paginacji jest mały */
    color: var(--color-text-secondary);
}

.info, .pages {
    display: flex;
    align-items: center;
}

.controls {
    display: flex;
    align-items: center;
    gap: var(--space-1-5);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: none; /* Zgodnie z makietą strzałki nie mają widocznych borderów */
    background: transparent;
    color: var(--color-text-secondary);
    cursor: pointer;
    transition: color 0.2s ease;
}

.button:hover:not(:disabled) {
    color: var(--color-text-primary);
}

.button:disabled {
    color: var(--color-text-faint);
    cursor: not-allowed;
}