HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
backend/target/
**/target/
!**/src/main/**/out/
!**/src/test/**/out/
backend/mvnw
backend/mvnw.cmd

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

deployment/env/local.package.properties
src/main/resources/application-local*.properties
**/data/test/output
**/data/test/tmp
/.jpb/jpb-settings.xml

docker-compose.override.yaml
.sdkmanrc

# === Environment & Local Config ===
.env
.env.local
.env.*.local
