.layout {
    display: flex;
    min-height: 100vh;
    font-family: var(--font-family-sans);
    color: var(--color-text-primary);
    background-color: var(--color-bg-app);
}

.sidebar {
    width: 240px;
    background-color: var(--color-bg-sidebar);
    border-right: 1px solid var(--color-border-subtle);
    display: flex;
    flex-direction: column;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--space-6);
}

/* Tymczasowe style dla przycisku wylogowania */
.logoutButton {
    background: transparent;
    border: 1.8px solid var(--raw-white-100);
    cursor: pointer;
    padding: var(--space-2);
    border-radius: var(--radius-sm);
    margin-top: var(--space-4);
    transition: background-color 0.3s, color 0.3s;
}

.logoutButton:hover {
    background-color: rgba(255, 255, 255, 0.3);
}